@charset "UTF-8";
/* CSS Document */
html {
	font-family: "Kanit", sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
	color: #404040;
	line-height: 1.3;
	
}

h2 {
	font-size: 1.5em;
	color: #404040;
	line-height: 1.2;
}

p {
	font-size: 1.25em;
	color: #404040;
	line-height: 1.2;
	padding-bottom: 1em;
	font-weight: 100;
}

a {
	color: #404040;
	text-decoration: none;
	font-size: 1.25em;
}

.center {
	text-align: center;
}


/* Header/Navigation */
header {
	display: flex;
	height: 4em;
	align-items: center;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

#logo {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	height: 2em;
	align-items: center;
	
}

#logo img {
	display: flex;
	height: 3em;
	
}

#logo h1 {
	display: flex;
	font-weight: bolder;
	color: #404040;
	font-size: 1.5em;
}

#logo h2 {
	color: #979797;
	display: flex;
	font-size: 1.5em;
}

nav li {
	display: inline-flex;
	padding-right: 1em;
	
}

nav a {
	color: #404040;
	text-decoration: none;
	font-size: 1.25em;
}

nav a:hover {
	color: #708c78;
}

.mobile {
	display: none;
}


/* Block one - Banner / Jambatron */

#banner {
	background-color: #d3d3d3;
	display: flex;
	align-items: center;
}

#banner img {
	margin: 2em 1.5em;
	width: 57%;
}

#jambatron {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 3em;
}

#jambatron h2 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.bannerbutton {
	background-color: #404040;
	color: white;
	padding: 0.75em;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bannerbutton span {
	display: flex;
	font-size: 1.25em;
	font-weight: lighter;
	
}

.bannerbutton:hover {
	background-color: #708c78;
}


/* Block Two - Keep Practicing */
#sectiontwo {
	display: flex;	
}

#sectiontwo img {
	margin: 2em 1.5em;
	width: 100%;
}

#columnone {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#columnone img {
	width: 100%;
}

#columnone h1  {
	padding-left: 0.75em;
}

#columnone p {
	padding: 1.5em;
}

#columnone p.caption {
	font-family: Helvetica, sans-serif;
	font-size: 1.25em;
	padding-top: 0;
	padding-bottom: 1em;
}

#columntwo {
	display: inline-flex;
	flex-direction: column;
	width: 40%;
	border-left: 1px solid #d3d3d3;
	justify-content: space-around;
	margin-left: 4em;
	padding-bottom: 2em;
}
	
#columntwo .block {
	display: inline-flex;
	align-items: center;
	border: 1px solid #d3d3d3;
	flex-grow: 1;
}
#columntwo .block img {
	height: auto;
	width: 35%;
}

#columntwo .block .subblock a {
	color: #4D4F8C;
}

#columntwo .block .subblock a:hover {
	color: #708c78;
}
#columntwo .block:last-child {
	background-color: #d3d3d3;
}


/* Block Three - Courses */

#sectionthree {
	background-color: #d3d3d3;
	display: flex;
	
}

#allcontainers {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 2em 4.5em;
}

.container {
	background-color: white;
	margin: 2em 1em;
	flex-basis: 33%;
	
}

.container img {
	display: block;
	width: 100%;
}

.container h2 {
	margin: 1em;
}
.container p {
	margin-left: 1em;
	margin-right: 1em;
}


.rowone {
	display: flex;
	justify-content: space-between;
}

.rowtwo {
	display: flex;
	justify-content: space-between;
}

/* Block Four - Thesis */
#thesis {
	display: flex;	
	flex-direction: column;
}

#thesis h1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

#allthesiscontainer {
	display: flex;
	
}

#thesiscolumnone {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#thesiscolumnone video {
	margin: 0em 1.5em;
	width: 100%;
	
}

#thesiscolumnone h1  {
	padding-left: 0.75em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#thesiscolumnone p {
	padding-left: 1.5em;
	margin-bottom: 1.5em;
}


#thesiscolumntwo {
	display: inline-flex;
	flex-direction: column;
	width: 40%;
	justify-content: flex-start;
	margin-left: 4em;
	padding-bottom: 2em;
}
	
#thesiscolumntwo .thesiscontainer {
	display: inline-flex;
	align-items: center;
	padding: 1em;
}
#thesiscolumntwo .thesiscontainer img {
	height: auto;
	width: 35%;
}

.subthesiscontainer {
	padding: 1em;
	
}
#thesiscolumntwo .thesiscontainer:first-child {
	background-color: #d3d3d3;
}


/* Footer */
footer {
	display: flex;
	border-top: 1px solid #d3d3d3;
	
	margin-top: 1em;
}

footer p {
	font-size: 1em;
}

.copyright {
	flex-grow: 1;
	margin-left: 1.5em;
}

footer ul {
	display: flex;
}

footer li {
	margin-right: 1em;
}

	@media  only screen and (min-width: 481px) and (max-width : 810px) {
/* General */
	html {
			font-size: 12px;
		}


/* Header/Navigation */
	nav.desktop, #logo img {
			display: none;
		}

	nav.mobile {
		display: inline-flex;
		width: 100%;
	}
	
	nav.mobile img {
		display: inline-flex;
		padding: 1em;
	}
	
	nav ul {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	
	nav.mobile img, nav span {
			transition: opacity 0.5s ease-in-out;
		}
		
		nav span {
			position: absolute; 
			top: 1em;
			left: 25em;
			border: 2px solid aqua;
			opacity: 0;
		}

		
		nav.mobile img:hover {
			opacity: 0;
		}
		

		nav.mobile img:hover nav span {
			opacity: 1;
		}

		

/* Block one - Banner / Jambatron */

	#banner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	#banner img {
		width: 100%;
		margin: 0;
	}
	
	.bannerbutton {
		margin-bottom: 2em;
	}

/* Block Two - Keep Practicing */
	
	#columnone {
		display: flex;
		flex-direction: column;
		width: 100%;
		}
	
	#sectiontwo img {
			margin: 0;
		}
	
	#columone h1 {
		display: flex;
		flex-wrap: wrap;
		}
	#sectiontwo {
		display: block;
	}
	
	#columntwo {
		margin: 0;
		width: 100%;
	}
	
	#columntwo .block {
		display: flex;
		flex-direction: column;
		border: none;
		align-items: flex-start;
		
	}
		#columntwo .desktop {
			display: none;
		}
		
		#columntwo .mobile {
			display: block;
		}
	#columntwo .block img {
		width: calc(100% - 3em);
		margin: 1.5em;
	
	}
	
	#columntwo .subblock {
		margin-left: 2em;
		margin-bottom: 1em;
		
	}
/* Block Three - Courses */
	
		.rowone {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.rowtwo {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
/* Block Four / Thesis exhibit */
	
	
		#allthesiscontainer, #thesiscolumnone, #thesiscolumntwo {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0;
		}
		
		#thesis video {
			margin: 0;
		}
	
/* Footer */
}

@media only screen and (max-width : 480px) {
/* General */

	.desktop {
		display: none;
	}
	
	.mobile {
		display: block;
	}

	html {
		font-size: 10px;
	}
/* Header/Navigation */


	 #logo, .desktop, nav span {
		display: none;
	}
	
	nav.mobile {
		display: inline-flex;
		width: 100%;
	}
	
	nav.mobile img {
		display: inline-flex;
	}
	
	nav ul {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}


/* Block one - Banner / Jambatron */

	#banner {
		display: flex;
		flex-direction: column;
	}
	#banner img {
		width: 100%;
	}
	
	.bannerbutton {
		margin-bottom: 2em;
	}


/* Block Two - Keep Practicing */

	#sectiontwo {
		display: block;
		
	}
	
	#columntwo {
		margin: 0;
		width: 100%;
	}
	
	#columntwo .block {
		display: flex;
		flex-direction: column;
		border: none;
		align-items: flex-start;
		
	}
	
	#columntwo .block img {
		width: calc(100% - 3em);
		margin: 1.5em;
	
	}
	
	#columntwo .subblock {
		margin-left: 2em;
		margin-bottom: 1em;
		
	}
/* Block Three - Courses */
	#sectionthree {
		display: flex;
		flex-direction: column;
		background-color: white;
	}
	
	.rowone {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.rowtwo {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	.container img.desktop {
		display: none;
	}
	
	.container {
		background-color: #d3d3d3;
	}
	
	#allcontainers {
		margin: 0;
	}
	
	/* Block Four / Thesis exhibit */
	#thesis, #allthesiscontainer, #thesiscolumnone {
		display: block;
		width: 100%;
		margin: 0;
	}
	
	#thesiscolumnone video {
		margin: 0;
	}
	
	#thesiscolumntwo, #thesiscolumnone h1, #thesiscolumnone p {
		display: none;
	}
	
	/* footer */
	footer {
		padding-top: 1.5em;
		border: none;
	}
	
	.footernav {
		display: none;
	}
	
	.copyright {
		margin: 0;
		padding: 1em; 
		display: flex;
		align-items: flex-end;
	}
	
}

